{% load comments %}

{% get_comment_list for instance as steve %}
				

{% for comment in steve %}
	<div class="alert alert-info" role="alert">{{comment.user_name}} said: {{comment.comment|linebreaks}}</div>
{% endfor %}


{% get_comment_form for instance as form %}
{% if request.user.is_authenticated %}
<form action="{% comment_form_target %}" method="POST">
	{% csrf_token %}
	<input type="hidden" name="name" value="{{request.user.username}}">
	<input type="hidden" name="email" value="{{request.user.email}}">
	<textarea type="text" class="form-control input-lg" name="comment"> </textarea>
	{{form.content_type}}
	{{form.object_pk}}
	{{form.timestamp}}
	{{form.security_hash}}
	<input type="hidden" name="next" value="{{instance.get_absolute_url}}">
	<input type="submit" name="submit" class="btn btn-primary">
</form>
{% else %}
<h3>Please Log in to comment</h3>
{% endif %}