{% extends "base.html" %}
{% load urlify %}

{% load crispy_forms_tags %}
{% block head_title %}Detail{% endblock head_title %}
{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="thumbnail">
				{% if instance.image %}
					<img src="{{instance.image.url}}" class="img-responsive">
				{% endif %}
				<div class="caption">
					<h3>{{instance.title}}<small>{{instance.publish|timesince}} ago</small></h3>
					<p>{{instance.content|linebreaks}}</p>

					Author: {{instance.author.username}}
					<p>
						<a href="{% url 'posts:update' slug=instance.slug %}" class="btn btn-success">Edit</a>
						<a href="{% url 'posts:delete' slug=instance.slug %}" class="btn btn-danger">Delete</a>
					</p>
					
					<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
						Share on Facebook
					</a>
					<a href="https://twitter.com/home?status={{instance.content|urlify|truncatechars:50}}%20{{request.build_absolute_uri}}">
						Share on Twitter
					</a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|urlify}}&source={{request.build_absolute_uri}}">
						Share on Linkedin
					</a>

				</div>
			</div>

			<button class="btn" onclick="ajax_like()">
				<span id="likes_count">{{like_count}}</span>
				<span id = "heart" class="glyphicon glyphicon-heart {% if liked %}text-danger{% endif %} " aria-hidden="true"></span>
			</button>

			{% include "django_comments.html" %}
			<!--<div class="fb-like col-sm-8 col-sm-offset-2" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

			<div class="fb-comments col-sm-8 col-sm-offset-2" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>-->
			<br>
			<a href="{% url 'posts:list' %}" class="btn btn-primary col-sm-8 col-sm-offset-2">Go back to list</a>
		</div>
	</div>

<script>
	function ajax_like()
	{
		console.log("Like/Unlike clicked!");
		
		$.ajax({
			type: 'GET',
			url: '{% url "posts:like_button" post_id=instance.id %}',
			error: function(){
				console.log("noob");
			},
			success: function(data){
				$("#likes_count").text(data.like_count);

				if(data.action==="like"){
					$("#heart").addClass("text-danger");
				}else{
					$("#heart").removeClass("text-danger");
				}
			},
		});
	}
</script>

{% endblock content %}