{% extends "base.html" %}

{% block head_title %}List{% endblock head_title %}

{% block content %}

<br><br>
<div class="row">

<!--<form action="{% url 'posts:list' %}" method="GET">
	<input type="text" name="q" placeholder="Search posts here" value="{{request.GET.q}}">
	<input type="submit" value="Search">
	<a href="?page={{ post_list.number}}" class="btn btn-primary">Clear Search</a>
</form>-->
<br><br>
{% for x in post_list %}
	<div class="col-sm-6">
		<div class="thumbnail">
			{% if x.image %}
				<img src="{{x.image.url}}" class="img-responsive">
			{% endif %}
			<div class="caption">
				<h3>{{x.title}}<small>{{x.publish|timesince}} ago</small></h3>
				
				{% if x.draft %}<h4>Draft</h4>{% endif %}
				{% if x.publish > today %}<h4>Future Blog Post</h4>{% endif %}

				<p>{{x.content|linebreaks|truncatechars:10}}</p>
				<p>
					<a href="{{x.get_absolute_url}}" class="btn btn-primary">View</a>
					{% if request.user.is_staff or request.user.is_superuser %}
						<a href="{% url 'posts:update' slug=x.slug %}" class="btn btn-success">Edit</a>
						<a href="{% url 'posts:delete' slug=x.slug %}" class="btn btn-danger">Delete</a>
					{% endif %}

				</p>
			</div>
		</div>
	</div>
{% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?page={{ post_list.previous_page_number }}&q={{request.GET.q}}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?page={{ post_list.next_page_number }}&q={{request.GET.q}}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}