{% extends "base.html" %}
{% load urlify %}

{% load crispy_forms_tags %}
{% block head_title %}Detail{% endblock head_title %}
{% block content %}
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="thumbnail">
				{% if instance.image %}
					<img src="{{instance.image.url}}" class="img-responsive">
				{% endif %}
				<div class="caption">
					<h3>{{instance.title}}<small>{{instance.publish|timesince}} ago</small></h3>
					<p>{{instance.content|linebreaks}}</p>

					Author: {{instance.author.username}}
					<p>
						<a href="{% url 'posts:update' slug=instance.slug %}" class="btn btn-success">Edit</a>
						<a href="{% url 'posts:delete' slug=instance.slug %}" class="btn btn-danger">Delete</a>
					</p>
					
					<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">
						Share on Facebook
					</a>
					<a href="https://twitter.com/home?status={{instance.content|urlify|truncatechars:50}}%20{{request.build_absolute_uri}}">
						Share on Twitter
					</a>
					<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.title|urlify}}&summary={{instance.content|urlify}}&source={{request.build_absolute_uri}}">
						Share on Linkedin
					</a>

				</div>
			</div>
			{% include "django_comments.html" %}
			<br>
			<a href="{% url 'posts:list' %}" class="btn btn-primary">Go back to list</a>
		</div>
	</div>

{% endblock content %}